.dropdown-profile {
  align-self: center;
  position: relative;
  z-index: 4;
  width: 24px;
  height: 24px;
  /* width: 35px; */
  /* border: 1px solid white; */
  background-color: white;
  border-radius: 50%;
  padding: 8px;
}

.dropdown-profile:hover {
  cursor: pointer;
}

/* .dropdown-profile img {
  width: 24px;
} */
.dropdown_menu{
  display: flex;
  /* visibility: hidden; */
  width: 200px;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top:130%;
  right: 0px;
  /* padding: 8px 0px; */
  border-radius: 15px;
  background-color: white;
  /* box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25); */
  transition: max-height 0.5s ease, box-shadow 0.5s;
  overflow: hidden;
  /* border: 1px solid gray; */
}

/* .dropdown_menu::before{
  content: '';
  max-height: 0px; */
  /* position: absolute;

  top: -5px;
  right: 0px;
  height: 0;
  width: 20px;
  transform: rotate(45deg); */
/* } */

.dropdown_menu ul {
  list-style-type: none;
  padding-inline-start: 0;
  
}

.dropdown_menu a {
  text-decoration: none;
}

.dropdown_menu ul li{
  margin: 0;
  gap: 15px;
  padding: 8px 12px;
}

.dropdown_menu ul li span {
  display: flex;
  flex-direction: row;
  padding: 0 12px;
  gap: 10px;
  align-items: center;
}

.dropdown_menu ul li span button{
  border: none;
  background: none;
  padding: 0;
}

.dropdown_menu ul li span button:hover{
  cursor: pointer;
}
.dropdown_menu ul li img {
  width: 24px;
}

.dropdown_menu ul li:hover{
  background-color: lightgray;
  cursor: pointer;
}

.dropdown-list{
  display: flex;
  flex-direction: column;
  padding-bottom: 12px ;
  gap: 4px;
}