.inputContainer{
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.inputInner:hover{
    border: 2px solid #000000;
}

.inputInner{
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #929292;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}